h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* List styles*/
.list {
    list-style: none;
}

/* Link styles*/
.link {
    text-decoration: none;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

/* Hide heading*/
.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Container */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Section */
.section {
    padding: 94px 0;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}