:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --sub-accent-color: #2f303a;
    --logo-black-color: #000000;
    --secondary-bgd-color: #f5f4fa;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ececec;
    --socials-icons-color: #afb1b8;
}