.projects-btn-item {
    display: inline-block;
    color: var(--primary-text-color);
    background-color: var(--secondary-bgd-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.projects-btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.projects-btn-list .item+.item {
    margin-left: 12px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-item {
    margin-top: 30px;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:nth-child(-n + 3) {
        margin-top: 0;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }

    &-title {
        color: var(--primary-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &-text {
        margin-top: 4px;
        color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
    }
}

.projects-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.item-block {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio-thumb .img {
    display: block;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-descr {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .portfolio-descr,
.projects-link:focus .portfolio-descr {
    transform: translateY(0);
}