.skills__list {
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
    gap: 30px;
}

.skills__item {

    &:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2) ;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
    }
}

.skills__thumb {
    background-color: var(--secondary-bgd-color);
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.skills__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    
    @media screen and (min-width: 768px) {
        text-align: inherit;
    }
            

}

.skills__description {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}